In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline
plt.rcParams['figure.figsize'] = (10,6)

In [3]:
df = pd.read_csv('./temp.csv')

In [4]:
df.head()

,Job_position,Company,Location,Salary,requirements,posting_frequency
0,Junior Software Developer,Parakh Online Pvt Ltd,"New Delhi, Delhi","5,00,000 - 7,00,000 a year",Experience in developing web applications usin...,1.0
1,ReactJS Developer (2+ Years with Redux Exp),Codingmart Technologies,"Bengaluru, Karnataka","8,00,000 a year","To ensure success as a React.js Developer, a t...",1.0
2,Sr. Software Developer,Atlanta Systems Pvt Ltd,"Delhi, Delhi","30,000 - 40,000 a year","Working closely with other developers, UX desi...",1.0
3,Trainee Software Engineer,Gorai Technology Solutions,"Bengaluru, Karnataka","1,51,537 - 6,45,829 a year",Expected Start Date: 4/1/2021.This job require...,1.0
4,Asp.Net Developer,Hublit Lighting Private Limited,"Delhi, Delhi","50,000 a month",Must possesses experience in creating web appl...,1.0

In [5]:
def seniority(title):
    title = str(title) 
    if 'ii' in title.lower().split() or 'director' in title.lower().split() or 'specialist' in title.lower().split() or 'professional' in title.lower().split() or 'sr.' in title.lower().split() or 'senior' in title.lower().split():
        return 'senior'
    elif 'i' in title.lower().split() or 'associate' in title.lower().split() or 'junior' in title.lower().split() or 'jr' in title.lower().split()  or 'jr.' in title.lower().split() or 'trainee' in title.lower().split() or 'intern' in title.lower().split() or 'jr.' in title.lower().split():
        return 'jr'
    else:
        return 'na'

In [6]:
# to calculate the seniority of the position applying for
df['job_title'] = df['Job_position'].apply(seniority)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642 entries, 0 to 641
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job_position       641 non-null    object
 1   Company            642 non-null    object
 2   Location           642 non-null    object
 3   Salary             642 non-null    object
 4   requirements       641 non-null    object
 5   posting_frequency  642 non-null    float64
 6   job_title          642 non-null    object
dtypes: float64(1), object(6)
memory usage: 35.2+ KB

In [8]:
# to calculate max and min salary per annum

yearly_min = {}
yearly_max = {}

def salary(df):
    
    for i in range(0, len(df)):
        
        if df['Salary'][i] == '-999':
            yearly_min[i] = 0
            yearly_max[i] = 0
            
        if 'a year' in df['Salary'][i]:
            sal_min = df['Salary'][i].split('-')[0].replace('a year','').replace(',','')
            yearly_min[i] = int(sal_min)
            
            try:
                sal_max = df['Salary'][i].split('-')[1].replace('a year','').replace(',','')
                yearly_max[i] = int(sal_max)
                
            # if only single value present will be stored in both max and min, so the average comes accuate
            except:
                sal_max = df['Salary'][i].split('-')[0].replace('a year','').replace(',','')
                yearly_max[i] = int(sal_max)
            
        if 'a month' in df['Salary'][i]:
            sal_min = df['Salary'][i].split('-')[0].replace('a month','').replace(',','')
            yearly_min[i] = int(sal_min) * 12
            
            try:
                sal_max = df['Salary'][i].split('-')[1].replace('a month','').replace(',','')
                yearly_max[i] = int(sal_max) * 12    
                
            # if only single value present will be stored in both max and min, so the average comes accuate
            except:
                sal_max = df['Salary'][i].split('-')[0].replace('a month','').replace(',','')
                yearly_max[i] = int(sal_max) * 12
                
salary(df)

In [9]:
# min, max and avg salary columns
df['min_sal'] = pd.DataFrame(yearly_min.values(), index= yearly_min.keys())
df['max_sal'] = pd.DataFrame(yearly_max.values(), index= yearly_max.keys())
df['avg_yearly_sal'] = ( df['min_sal'] + df['max_sal'] )/2
df['monthly_sal'] = df['avg_yearly_sal']/12.

In [10]:
df.drop('Salary', axis=1, inplace=True)

In [11]:
# we can split the location column and get the state 
df['State'] = df['Location'].apply(lambda x: x.split(', ')[1] if len(x.split()) > 1 else x)

In [12]:
# Some companies have multiple job openings this could be useful
df['Company'].value_counts().head()

Accenture                           8
JPMorgan Chase Bank, N.A.           6
Larsen & Toubro Infotech Limited    6
LearnQ.ai                           5
Manappuram Finance Limited          4
Name: Company, dtype: int64

In [13]:
job_openings = df['Company'].value_counts()

In [14]:
df['job_openings'] = df['Company'].map(job_openings)

In [15]:
df['requirements'].fillna('', inplace = True)

In [16]:
df['job_descr_len'] = df['requirements'].apply(lambda x: 0 if not x else len(x))

In [17]:
df.head()

,Job_position,Company,Location,requirements,posting_frequency,job_title,min_sal,max_sal,avg_yearly_sal,monthly_sal,State,job_openings,job_descr_len
0,Junior Software Developer,Parakh Online Pvt Ltd,"New Delhi, Delhi",Experience in developing web applications usin...,1.0,jr,500000.0,700000.0,600000.0,50000.000000,Delhi,1,151
1,ReactJS Developer (2+ Years with Redux Exp),Codingmart Technologies,"Bengaluru, Karnataka","To ensure success as a React.js Developer, a t...",1.0,na,800000.0,800000.0,800000.0,66666.666667,Karnataka,1,158
2,Sr. Software Developer,Atlanta Systems Pvt Ltd,"Delhi, Delhi","Working closely with other developers, UX desi...",1.0,senior,30000.0,40000.0,35000.0,2916.666667,Delhi,1,151
3,Trainee Software Engineer,Gorai Technology Solutions,"Bengaluru, Karnataka",Expected Start Date: 4/1/2021.This job require...,1.0,jr,151537.0,645829.0,398683.0,33223.583333,Karnataka,1,157
4,Asp.Net Developer,Hublit Lighting Private Limited,"Delhi, Delhi",Must possesses experience in creating web appl...,1.0,na,600000.0,600000.0,600000.0,50000.000000,Delhi,1,157

### Analyzing Job skills

As due to covid-19 many people working in the industry have lost their jobs, and according to news articles the skill demand for job industry 
is also changing, lets take a look at the skills, in demand in the job industry

In [18]:
from nltk.tokenize import word_tokenize

In [19]:
requirements = df['requirements']

In [20]:
requirements = list(filter(None, requirements))

In [21]:
# split punctuation 
for p in ['-','(',')','.','/']:
    job_descr = []
    for i in range(0, len(requirements)):
        c = requirements[i].split(p)
        for x in c:
            x.replace('.',' ')
            job_descr.append(x)

In [22]:
# Remove punctuation and convert to lower case
for x in range(0,len(job_descr)):
    for p in ['.', '-', ')', '(', '…', ',', ':', "'"]:
        job_descr[x] = job_descr[x].replace(p,' ')
    job_descr[x] = job_descr[x].lower()

In [23]:
# analyzing keywords from custom keyword list
f = open("skills.txt","r",) 
skills=[]
for x in f:
    skills.append(x)
f.close()

In [24]:
for i in skills:
    skills = i.split(',')

In [25]:
for i in range(0, len(skills)):
    skills[i] = skills[i].replace(' ','')
    skills[i] = skills[i].lower()

In [26]:
print(skills)

['html', 'css', 'c', 'debugging', 'git', 'senior', 'sr', 'graphic', 'database', 'java', 'javascript', 'nodejs', 'apis', 'ruby', 'php', 'net', 'c#', 'jquery', 'python', 'perl', 'react', 'reactjs', 'ux', 'ui', 'testing', 'analyst', 'springboot', 'jpa', 'microservice', 'postman', 'rest', 'api', 'angular', 'azure', 'aws', 'cloud', 'debugging', 'btech', 'cs', 'idbc', 'porting', 'porting', 'vive', 'go', 'playstation', 'medicine', 'food', 'chromium', 'nodejs', 'js', 'net', 'server', 'architecture', 'mobile', 'b2b', 'healthcare', 'security', 'sql', 'mvc', 'asp', 'version', 'typescript', 'sass', 'pwas', 'ios', 'androis', 'html', 'python.node', 'rdbms', 'mysql', 'script', 'query', 'mongo', 'oops', 'os', 'restful', 'app', 'xamarin', 'financial', 'shell', 'unix', 'script', 'powershell', 'linux', 'game', 'gui', 'unity', 'ai', 'jquery', 'iot', 'freelance', 'bootstrap', 'word', 'excel', 'swift', 'salesforce', 'graphic', 'github', 'flutter', 'c++', 'c#', 'docker', 'stack', 'bug', 'lravel', 'flux', 'redux', 'machinelearning', 'ml', 'naturallanguageprocessing', 'nlp']

Processing requirements on the basis whether a skill is present in that row

In [27]:
df['requirements'] = df['requirements'].apply(lambda x: ' '.join([word for word in x.lower().split() if word in (skills)]))
df['requirements'].replace(to_replace='', value='na', inplace=True)

In [28]:
processed_text = word_tokenize(str(job_descr))

In [29]:
# to calculate the frequency of a particular skill mentioned in job description
def calc_skill_freq(data):
    skill_dict = {}

    for i in range(1,len(data)):
        token = data[i]
        if token in skills:
            try:
                skill_dict[token].add(i)
            except:
                skill_dict[token] = {i}
            
    for i in skill_dict:
        skill_dict[i] = len(skill_dict[i])
        
    return skill_dict

In [30]:
job_descr_dict = calc_skill_freq(processed_text)

Some Companies have mentioned the required skills in job position and some in some description <br>
Lets take a look at the skills mentioned in Job description column, then we will add them to get skills in demand

In [31]:
# remove punctuation present in job position column
def remove_punctuation(df):
    for p in ['/', ',', '(', ')', '-', '|', '&', '_', '.', '“', '”', ':']:
        df['Job_position'] = df['Job_position'].apply(lambda x: str(x).replace(p,' '))

    return df

In [32]:
df = remove_punctuation(df)

In [33]:
# analyzing stopwords from custom stopwords list
f = open("stopwords.txt","r",) 
stopwords=[]

for x in f:
    stopwords.append(x)
    
f.close()

In [34]:
for i in stopwords:
    stopwords = i.split(',')

In [35]:
for i in range(0, len(stopwords)):
    stopwords[i] = stopwords[i].replace("'","")
    stopwords[i] = stopwords[i].replace(" ","")
    stopwords[i] = stopwords[i].lower()

In [36]:
print(stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', 'her', 'hers', 'herself', 'it', 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', 'should', 'now', 'developer', 'software', 'etc', 'engineer']

In [37]:
# removing stopwords from the Job_position column
job_role = list(df['Job_position'].apply(lambda x: ' '.join([word for word in x.lower().split() if word not in (stopwords)])))

In [38]:
df['Job_position'] = df['Job_position'].apply(lambda x: ' '.join([word for word in x.lower().split() if word in (skills)]))
df['Job_position'].replace(to_replace='', value='na', inplace=True)

In [39]:
job_role = word_tokenize(str(job_role))

In [40]:
# Now calculate the frequency of a particular skill mentioned in job role
job_role_dict = calc_skill_freq(job_role)

Below we first pass all the elements of the first dictionary into the third one and then pass the second dictionary 
into the third. This will replace the duplicate keys of the first dictionary. <br>
More info : (https://www.geeksforgeeks.org/python-merging-two-dictionaries/)

In [41]:
skills_dict = {**job_role_dict, **job_descr_dict}

Lets save this dictionary for now it will be useful for EDA

In [42]:
import pickle
skill_file = open('skill_dictionary', 'wb') 
pickle.dump(skills_dict, skill_file) 
skill_file.close()

In [43]:
# now create new column for each skill with value equal to the frequency of that skill occurring in that particular cell
def calc_freq(df):
    for key in list(skills_dict.keys()):
        df[key] = 0
        for i in range(0,len(df)):
            count = 0
            if key in df['requirements'][i].lower().split():
                count += 1  
                df[key][i] = count 
    return df

In [44]:
df = calc_freq(df)

<ipython-input-43-9eddb29630f9>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[key][i] = count

As skills from job position and description were added its possible some of them dont appear in description, their frequency wiil be zero so we 
must drop them

In [45]:
# remove columns with constant values
df = df.loc[:, (df != df.iloc[0]).any()]

In [46]:
df.to_csv('./data_prepared.csv', index=False)