In [1]:
import pandas as pd
import re

In [7]:
df = pd.read_csv('./data/temp.csv', names=['Job_position', 'Company', 'Salary', 'requirements', 'rating'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Job_position  515 non-null    object
 1   Company       515 non-null    object
 2   Salary        515 non-null    object
 3   requirements  515 non-null    object
 4   rating        515 non-null    object
dtypes: object(5)
memory usage: 20.2+ KB

In [9]:
df.drop_duplicates(ignore_index=True, inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Job_position  355 non-null    object
 1   Company       355 non-null    object
 2   Salary        355 non-null    object
 3   requirements  355 non-null    object
 4   rating        355 non-null    object
dtypes: object(5)
memory usage: 14.0+ KB

In [11]:
def get_states(df):

    with open('utils/states.txt', 'r') as f:
        states = f.read()
        states_list = states.split(',')
    f.close()

    job_states = []

    for j in range(len(df)):
        counter = 0

        for i in states_list:
            if re.findall(i, df['Company'][j].lower()):
                job_states.append(i)
                if i != 'delhi':
                    df.loc[j, 'Company'] = re.sub(i, '',  df['Company'][j].lower())
                counter = 1
                break

        if counter == 0:
            job_states.append('State_missing')

    df['State'] = job_states

    return df

def replace_comp(df):

    for j in range(len(df)):

        if re.findall(r'(ltd|review|reviews|remote|temporarily|\d.?)', df['Company'][j].lower()):
            df.loc[j, 'Company'] = re.sub(r'(ltd|review|reviews|remote|temporarily|\d.?)', '', df['Company'][j].lower())

    return df

def city(df):

    with open('utils/cities.txt', 'r') as f:
        cities = f.read()
        cities_list = cities.split(',')
    f.close()

    job_cities = []

    for j in range(len(df)):
        counter = 0

        for i in cities_list:
            if re.findall(i, df['Company'][j].lower()):
                job_cities.append(i)
                df.loc[j, 'Company'] = re.sub(i, ' ', df['Company'][j].lower())
                counter = 1
                break

        if counter == 0:
            job_cities.append('city_missing')

    df['Cities'] = job_cities

    return df

In [12]:
temp = replace_comp(df)
temp = city(temp)

In [13]:
temp

,Job_position,Company,Salary,requirements,rating,Cities
0,Software Tester,"divihn integration, inc","₹25,000 - ₹50,000 a month",We are looking for a results-driven software t...,na,city_missing
1,Project Coordinator,"hestabit technologies private limited , uttar ...","₹4,50,000 - ₹8,00,000 a year",Hiring Project Coordinator!HestaBit is looking...,na,noida
2,Trainee Software Engineer,"bonushub digital solutions pvt. s ,","₹8,895 - ₹22,064 a month",Job Title - Trainee Dot Net Developer\nKey Ski...,5,delhi
3,Software scientist,"nexplace info private limited , uttar pradesh","₹5,00,000 - ₹7,00,000 a year",\nshould have experience in c++\nshould have e...,na,noida
4,Software Engineer Trainee / Freshers,"buclelabs pvt. . , haryana","₹3,00,000 - ₹5,00,000 a year",Job Description – Software Engineer (Frontend ...,na,gurgaon
...,...,...,...,...,...,...
350,Senior Software Development Engineer,"larsen & toubro infotech limiteds , karnataka",na,What you'll need \n\n\n4-year Computer Science...,3.7,bengaluru
351,"""Tosca Automation Testing""","larsen & toubro infotech limiteds , karnataka",na,Strong experience/knowledge in Automation test...,3.7,bengaluru
352,Java Backend Developer,"advance auto partss , telangana",na,\nAbout Advance Auto Parts\n Advance Auto Part...,3.4,hyderabad
353,AEM developer,"larsen & toubro infotech limiteds , telangana",na,\nJob Title: AEM developer\n\n\n Experience: 1...,3.7,hyderabad
354,IT Application Developer,"lenovo india private limiteds , karnataka",na,\n Description and Requirements\n \n\nJobDescr...,3.9,bengaluru

In [14]:
temp = get_states(temp)

In [15]:
temp

,Job_position,Company,Salary,requirements,rating,Cities,State
0,Software Tester,"divihn integration, inc","₹25,000 - ₹50,000 a month",We are looking for a results-driven software t...,na,city_missing,State_missing
1,Project Coordinator,"hestabit technologies private limited ,","₹4,50,000 - ₹8,00,000 a year",Hiring Project Coordinator!HestaBit is looking...,na,noida,uttar pradesh
2,Trainee Software Engineer,"bonushub digital solutions pvt. s ,","₹8,895 - ₹22,064 a month",Job Title - Trainee Dot Net Developer\nKey Ski...,5,delhi,State_missing
3,Software scientist,"nexplace info private limited ,","₹5,00,000 - ₹7,00,000 a year",\nshould have experience in c++\nshould have e...,na,noida,uttar pradesh
4,Software Engineer Trainee / Freshers,"buclelabs pvt. . ,","₹3,00,000 - ₹5,00,000 a year",Job Description – Software Engineer (Frontend ...,na,gurgaon,haryana
...,...,...,...,...,...,...,...
350,Senior Software Development Engineer,"larsen & toubro infotech limiteds ,",na,What you'll need \n\n\n4-year Computer Science...,3.7,bengaluru,karnataka
351,"""Tosca Automation Testing""","larsen & toubro infotech limiteds ,",na,Strong experience/knowledge in Automation test...,3.7,bengaluru,karnataka
352,Java Backend Developer,"advance auto partss ,",na,\nAbout Advance Auto Parts\n Advance Auto Part...,3.4,hyderabad,telangana
353,AEM developer,"larsen & toubro infotech limiteds ,",na,\nJob Title: AEM developer\n\n\n Experience: 1...,3.7,hyderabad,telangana
354,IT Application Developer,"lenovo india private limiteds ,",na,\n Description and Requirements\n \n\nJobDescr...,3.9,bengaluru,karnataka

In [16]:
for i in temp.index.values:
    if temp.loc[i, 'Cities'] == 'delhi':
        temp.loc[i, 'State'] = 'delhi'

In [17]:
temp

,Job_position,Company,Salary,requirements,rating,Cities,State
0,Software Tester,"divihn integration, inc","₹25,000 - ₹50,000 a month",We are looking for a results-driven software t...,na,city_missing,State_missing
1,Project Coordinator,"hestabit technologies private limited ,","₹4,50,000 - ₹8,00,000 a year",Hiring Project Coordinator!HestaBit is looking...,na,noida,uttar pradesh
2,Trainee Software Engineer,"bonushub digital solutions pvt. s ,","₹8,895 - ₹22,064 a month",Job Title - Trainee Dot Net Developer\nKey Ski...,5,delhi,delhi
3,Software scientist,"nexplace info private limited ,","₹5,00,000 - ₹7,00,000 a year",\nshould have experience in c++\nshould have e...,na,noida,uttar pradesh
4,Software Engineer Trainee / Freshers,"buclelabs pvt. . ,","₹3,00,000 - ₹5,00,000 a year",Job Description – Software Engineer (Frontend ...,na,gurgaon,haryana
...,...,...,...,...,...,...,...
350,Senior Software Development Engineer,"larsen & toubro infotech limiteds ,",na,What you'll need \n\n\n4-year Computer Science...,3.7,bengaluru,karnataka
351,"""Tosca Automation Testing""","larsen & toubro infotech limiteds ,",na,Strong experience/knowledge in Automation test...,3.7,bengaluru,karnataka
352,Java Backend Developer,"advance auto partss ,",na,\nAbout Advance Auto Parts\n Advance Auto Part...,3.4,hyderabad,telangana
353,AEM developer,"larsen & toubro infotech limiteds ,",na,\nJob Title: AEM developer\n\n\n Experience: 1...,3.7,hyderabad,telangana
354,IT Application Developer,"lenovo india private limiteds ,",na,\n Description and Requirements\n \n\nJobDescr...,3.9,bengaluru,karnataka

In [18]:
import numpy as np
l=[]
for i in range(0, len(temp)):
    l.append(np.nan)

temp['Location'] = l

In [19]:
for i in temp.index.values:
    location = ''
    
    if temp.loc[i, 'Cities'] != 'city_missing':
        location += temp.loc[i, 'Cities'] + ', '
        
    if temp.loc[i, 'State'] != 'State_missing':
        location += temp.loc[i, 'State']
    temp.loc[i, 'Location'] = location

temp.drop(['State', 'Cities'], axis=1, inplace=True)

In [20]:
temp

,Job_position,Company,Salary,requirements,rating,Location
0,Software Tester,"divihn integration, inc","₹25,000 - ₹50,000 a month",We are looking for a results-driven software t...,na,
1,Project Coordinator,"hestabit technologies private limited ,","₹4,50,000 - ₹8,00,000 a year",Hiring Project Coordinator!HestaBit is looking...,na,"noida, uttar pradesh"
2,Trainee Software Engineer,"bonushub digital solutions pvt. s ,","₹8,895 - ₹22,064 a month",Job Title - Trainee Dot Net Developer\nKey Ski...,5,"delhi, delhi"
3,Software scientist,"nexplace info private limited ,","₹5,00,000 - ₹7,00,000 a year",\nshould have experience in c++\nshould have e...,na,"noida, uttar pradesh"
4,Software Engineer Trainee / Freshers,"buclelabs pvt. . ,","₹3,00,000 - ₹5,00,000 a year",Job Description – Software Engineer (Frontend ...,na,"gurgaon, haryana"
...,...,...,...,...,...,...
350,Senior Software Development Engineer,"larsen & toubro infotech limiteds ,",na,What you'll need \n\n\n4-year Computer Science...,3.7,"bengaluru, karnataka"
351,"""Tosca Automation Testing""","larsen & toubro infotech limiteds ,",na,Strong experience/knowledge in Automation test...,3.7,"bengaluru, karnataka"
352,Java Backend Developer,"advance auto partss ,",na,\nAbout Advance Auto Parts\n Advance Auto Part...,3.4,"hyderabad, telangana"
353,AEM developer,"larsen & toubro infotech limiteds ,",na,\nJob Title: AEM developer\n\n\n Experience: 1...,3.7,"hyderabad, telangana"
354,IT Application Developer,"lenovo india private limiteds ,",na,\n Description and Requirements\n \n\nJobDescr...,3.9,"bengaluru, karnataka"

In [30]:
df_train = pd.read_csv('data/df_train.csv')

In [32]:
df_train.reset_index(drop=True, inplace=True)