In [1]:
import pandas as pd
import numpy as np
from utils.clean_utils import Preprocess
import pandas as pd
import numpy as np
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import nltk
import time

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
lemmatizer = WordNetLemmatizer()

#load prepared data
df = pd.read_csv('data/data_train.csv')
df.drop_duplicates(inplace=True, ignore_index=True)

[nltk_data] Downloading package stopwords to /home/krish/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/krish/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/krish/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /home/krish/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/krish/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/krish/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [4]:
df.head()

,Job_position,Company,Location,Salary,requirements,rating,experience
0,Junior Software Developer\nnew,Gather Network,"Urban Estate Gurgaon, Haryana","\n₹20,000 a month",We are actively looking for a few freshers who...,NaN,NaN
1,Big Data Developer\nnew,Agile Placement,"Pune, Maharashtra","\n₹5,00,000 - ₹14,00,000 a year",_Strong knowledge of programming and scripting...,NaN,Total work: 6 years
2,Data Scientist\nnew,Client of PlaceElements HR,"Thiruvananthapuram, Kerala","\n₹5,00,000 - ₹10,00,000 a year",Experience in working closely with data analys...,NaN,Python: Algorithms: Statistics: 1 yearData Sci...
3,Software Engineer - Machine Learning Engineer,Siemens Technology and Services Private Limited,"Pune, Maharashtra",NaN,Experience with machine learning architectures...,\n4.0\n\n\n\n\n,NaN
4,Machine Learning (Fullstack) at Sadhashiva Nag...,Teqlinx Software Solutions LLC,"Bengaluru, Karnataka","\n₹30,00,000 a year",• Extremely strong programming background – da...,NaN,NaN

In [137]:
#Function taken from (https://stackoverflow.com/a/71095469/14204371)
def preprocess_text(text):
    text = text.lower()
    text = re.sub('[^a-zA-Z]', ' ', text)
    
    stopwords_dict = {word: 1 for word in stopwords.words("english")}
    text = " ".join([word for word in text.split() if word not in stopwords_dict])
       
    text = ' '.join([lemmatizer.lemmatize(w) for w in text.split()])

    return text

start_time = time.time()
x = df['requirements'].apply(preprocess_text)
print(time.time() - start_time)

In [66]:
df.Salary.fillna('', inplace=True)

In [38]:
temp = {'x':  9 * 22 * 12}

4752

In [67]:
p = '[\d]+[.,\d]+|[\d]*[.][\d]+|[\d]+'
options = ['a year', 'a month', 'an hour']
multiplyFactor = {'a year': 1, 'a month': 12, 'an hour':  9 * 22 * 12}

def get_salary(text):
    payplan = re.findall(r"(?=("+'|'.join(options)+r"))", text)
    if(payplan):
        
        sal = re.findall(p, text)
        if(len(sal) > 1):
            minSal = int(re.sub(r'(?:(\d+?)),(\d+?)',r'\1\2',sal[0]))
            maxSal = int(re.sub(r'(?:(\d+?)),(\d+?)',r'\1\2',sal[1]))
            annualSal = ((minSal + maxSal)/2)*multiplyFactor[payplan[0]]
            return annualSal
        
        else:
            Sal = int(re.sub(r'(?:(\d+?)),(\d+?)',r'\1\2',sal[0]))
            annualSal = Sal*multiplyFactor[payplan[0]]
            return annualSal
        
    else:
        return 0

In [68]:
df['Salary'].apply(get_salary)

0        240000.0
1        950000.0
2        750000.0
3             0.0
4       3000000.0
          ...
7921          0.0
7922          0.0
7923          0.0
7924          0.0
7925          0.0
Name: Salary, Length: 7926, dtype: float64

In [100]:
def work_location(text):

    if re.findall('full.time?', text.lower()):
        return 2

    elif re.findall('remote?', text.lower()):
        return 1

    else:
        return 0

In [103]:
df['requirements'].fillna('').apply(work_location).value_counts()

0    7020
2     764
1     142
Name: requirements, dtype: int64

array([ 6.,  2.,  1., ..., 10., 17., 16.])

In [98]:
pd.DataFrame(x).value_counts()

1.0     208
2.0     177
3.0     132
4.0      62
5.0      41
6.0      25
10.0     16
8.0       9
7.0       6
9.0       4
15.0      4
12.0      3
dtype: int64

In [56]:
x = df['experience'].apply(education).values
y = df['requirements'].apply(education).values

In [64]:
z = np.where(np.isnan(x), y, x)

1.0    992
2.0    135
3.0     93
dtype: int64

In [ ]:
def get_city(text):    
        
    try:
        city = list(re.findall(r"(?=("+'|'.join(cities_list)+r"))", text)[0])[0]
        
        # print(text, list(re.findall(r"(?=("+'|'.join(cities_list)+r"))", text)[0])[0], '\n\n')
        return cities_list.index(city)

    except:
        return cities_list.index('city_missing')

In [110]:
import re

with open('utils/states.txt', 'r') as f:
    states = f.read()
    states_list = states.split(',')
f.close()

def get_states(text):
    try:
        state = re.findall(r"(?=("+'|'.join(states_list)+r"))", text)[0]
        # print(text, re.findall(r"(?=("+'|'.join(states_list)+r"))", text)[0], '\n\n')
        return states_list.index(state)

    except:
        return states_list.index('State_missing')

In [111]:
df['Location'] = df['Location'].str.lower()

In [112]:
start_time = time.time()
x = df['Location'].apply(get_states)
print(time.time() - start_time)

0.09812259674072266

In [2]:
temp_df = df.copy()
Preprocess()(temp_df)

--- Total time taken 16.36828327178955 seconds ---

,Job_position,Company,requirements,rating,experience,avg_yearly_sal,work_category,education_level,job_title,State,Cities
0,junior software developer,gather network,actively looking fresher want start career blo...,NaN,,240000.0,0,NaN,0,38,1222
1,big data developer,agile placement,strong knowledge programming scripting languag...,NaN,total work year,950000.0,0,NaN,0,38,1222
2,data scientist,client placeelements hr,experience working closely data analyst involv...,NaN,python algorithm statistic yeardata scientist ...,750000.0,0,1.0,0,38,133
3,software engineer machine learning engineer,siemens technology service private limited,experience machine learning architecture compu...,4.0,,0.0,0,NaN,0,38,1222
4,machine learning fullstack sadhashiva nagar ba...,teqlinx software solution llc,extremely strong programming background data s...,NaN,,3000000.0,0,NaN,0,38,1222
...,...,...,...,...,...,...,...,...,...,...,...
7921,senior software development engineer,larsen toubro infotech limited,need year computer science degree comparable e...,3.7,,0.0,0,NaN,0,10,2
7922,tosca automation testing,larsen toubro infotech limited,strong experience knowledge automation testing...,3.7,,0.0,0,NaN,0,10,2
7923,java backend developer,advance auto parts,advance auto part advance auto part inc leadin...,3.4,,0.0,0,2.0,0,23,4
7924,aem developer,larsen toubro infotech limited,job title aem developer experience yr location...,3.7,,0.0,0,NaN,0,23,4
7925,application developer,lenovo india private limited,description requirement jobdescription role re...,3.9,,0.0,0,1.0,0,10,2

0                                        Gather Network
1                                       Agile Placement
2                            Client of PlaceElements HR
3       Siemens Technology and Services Private Limited
4                        Teqlinx Software Solutions LLC
                             ...
7921               larsen & toubro infotech limiteds ,
7922               larsen & toubro infotech limiteds ,
7923                             advance auto partss ,
7924               larsen & toubro infotech limiteds ,
7925                   lenovo india private limiteds ,
Name: Company, Length: 7926, dtype: object

2       2176
4        935
63       711
1        687
1222     652
        ...
73         1
169        1
341        1
123        1
945        1
Name: Cities, Length: 101, dtype: int64

In [3]:

"""#Calculating missing ratings"""

temp_df = df[df['avg_yearly_sal']>0]
temp_df.reset_index(drop=True, inplace=True)
train = temp_df[~temp_df['rating'].isnull()]
test = temp_df[temp_df['rating'].isnull()]
train_set = train.drop(['rating', 'avg_yearly_sal'], axis=1)
y_train = train['rating']
test_set = test.drop(['rating', 'avg_yearly_sal'], axis=1)

"""#Glove Embeddings"""

from utils.nlp_utils import Word2VecVectorizer
from gensim.models import KeyedVectors

import gensim
gensim.__version__

# load GloVe model
filename = 'utils/vector.kv'
model = KeyedVectors.load(filename)

rating_train = train_set.select_dtypes(exclude='object').values
rating_test = test_set.select_dtypes(exclude='object').values

def glove_embedded(X_train, col, X_test, rating_train, rating_test):

  vectorizer = Word2VecVectorizer(model)

  X_train_embed = vectorizer.fit_transform(X_train[col].apply(str))
  X_test_embed = vectorizer.transform(X_test[col].apply(str))
  
  rating_train = np.concatenate((X_train_embed, rating_train), axis=1)
  rating_test = np.concatenate((X_test_embed, rating_test), axis=1)
  
  return rating_train, rating_test


for col in test_set.select_dtypes(include='object').columns:
  rating_train, rating_test = glove_embedded(train_set, col, test_set, rating_train, rating_test)

from xgboost import XGBRegressor
rating_model = XGBRegressor(objective='reg:squarederror', random_state=42)
rating_model.fit(rating_train, y_train)

#import pickle 
#filename = 'rating_model.sav'
#pickle.dump(rating_model, open(filename, 'wb'))

test_ratings = rating_model.predict(rating_test)

#add missing ratings to test dataset
test['rating'] = np.round(test_ratings, 2)

#combing train and test to form dataset
final_df = pd.concat([train, test], axis=0)
final_df.sort_index(inplace=True)

[nltk_data] Downloading package stopwords to /home/krish/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/krish/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/krish/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

Loading in word vectors...
Finished loading in word vectors
Numer of samples with no words found: 0 / 818
Numer of samples with no words found: 1 / 1824
Loading in word vectors...
Finished loading in word vectors
Numer of samples with no words found: 101 / 818
Numer of samples with no words found: 231 / 1824
Loading in word vectors...
Finished loading in word vectors
Numer of samples with no words found: 0 / 818
Numer of samples with no words found: 0 / 1824

/tmp/ipykernel_56590/2932749352.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['rating'] = np.round(test_ratings, 2)

In [5]:
"""#Calculating missing net experience"""

train = temp_df[~temp_df['net_experience'].isnull()]
test = temp_df[temp_df['net_experience'].isnull()]

train_indices = train.index.values
test_indices = test.index.values

train_set = train.drop(['net_experience', 'avg_yearly_sal'], axis=1)
y_train = train['net_experience']
test_set = test.drop(['net_experience', 'avg_yearly_sal'], axis=1)


#here we will apply glove embeddings on all text columns and concatenate them and them concatenate them along with numerical columns
"***Glove Embeddings***"

experience_train = train_set.select_dtypes(exclude='object').values
experience_test = test_set.select_dtypes(exclude='object').values

def glove_embedded(X_train, col, X_test, experience_train, experience_test):
  
  vectorizer = Word2VecVectorizer(model)

  X_train_embed = vectorizer.fit_transform(X_train[col].apply(str))
  X_test_embed = vectorizer.transform(X_test[col].apply(str))
  
  experience_train = np.concatenate((X_train_embed, experience_train), axis=1)
  experience_test = np.concatenate((X_test_embed, experience_test), axis=1)
  
  return experience_train, experience_test


for col in test_set.select_dtypes(include='object').columns:
  experience_train, experience_test = glove_embedded(train_set, col, test_set, experience_train, experience_test)


#will use xgboost to predict missing values
experience_model = XGBRegressor(objective= 'reg:squarederror', random_state=42)
experience_model.fit(experience_train, y_train)


#import pickle 
#filename = 'experience_model.sav'
#pickle.dump(experience_model, open(filename, 'wb'))

test_experience = experience_model.predict(experience_test)
test['net_experience'] = np.round(test_experience, 2)


temp = pd.concat([train, test], axis=0).sort_index()

final_df['net_experience'] = temp['net_experience']

Loading in word vectors...
Finished loading in word vectors
Numer of samples with no words found: 0 / 818
Numer of samples with no words found: 1 / 1824
Loading in word vectors...
Finished loading in word vectors
Numer of samples with no words found: 101 / 818
Numer of samples with no words found: 231 / 1824
Loading in word vectors...
Finished loading in word vectors
Numer of samples with no words found: 0 / 818
Numer of samples with no words found: 0 / 1824

/tmp/ipykernel_56590/1454807039.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['net_experience'] = np.round(test_experience, 2)

In [4]:


"""#Create Dataset for Model building"""

final_df = final_df[(~final_df['avg_yearly_sal'].isnull()) & (final_df['avg_yearly_sal'] > 0)]

final_df['avg_yearly_sal'] = final_df['avg_yearly_sal'].apply(lambda x: np.log(x))

X = final_df.drop('avg_yearly_sal', axis=1)
y = final_df['avg_yearly_sal']



"***To train on entire dataset***"
train_ans = X.select_dtypes(exclude='object').values

def glove_embedded(X, col,train_ans):
  
  vectorizer = Word2VecVectorizer(model)
  X_embed = vectorizer.fit_transform(X[col].apply(str))
  train_ans = np.concatenate((X_embed, train_ans), axis=1)
  
  return train_ans


for col in X.select_dtypes(include='object').columns:
  train_ans = glove_embedded(X, col,train_ans)

Loading in word vectors...
Finished loading in word vectors
Numer of samples with no words found: 1 / 2642
Loading in word vectors...
Finished loading in word vectors
Numer of samples with no words found: 332 / 2642
Loading in word vectors...
Finished loading in word vectors
Numer of samples with no words found: 0 / 2642

In [14]:
train_ans[:, :100].shape

(2642, 100)

In [2]:
train_ans.shape

(2642, 159)

In [3]:
data = {'Job_position': '1 ', 'Company': 'Google', 'Location': 'mumbai', 'requirements': 'Software Developer: C++', 'rating': '4.5', 'experience': '1', 'posting_frequency': '5'}

In [5]:
columns = ['Job_position', 'Company', 'Location', 'requirements', 'rating', 'experience', 'posting_frequency']
input_df = pd.DataFrame(columns = columns)

In [6]:
for key in data.keys():
    input_df.loc[0, key] = data[key]

In [7]:
input_df

,Job_position,Company,Location,requirements,rating,experience,posting_frequency
0,1,Google,mumbai,Software Developer: C++,4.5,1,5

In [ ]:

#Train on entire dataset
from lightgbm import LGBMRegressor
lgbreg = LGBMRegressor(random_state=42)
lgbreg.fit(train_ans, y)


import pickle 
filename = 'model_building/lgbreg.sav'
pickle.dump(lgbreg, open(filename, 'wb'))

2779