In [13]:
import pandas as pd
import numpy as np
from utils.temp_clean_utils import Preprocess

raw_df = pd.read_csv('./data/old data/raw_data.csv')

In [14]:
raw_df.head()

,Job_position,Company,Location,Salary,posting_time,requirements,rating,experience,link
0,Junior Software Developer\nnew,Gather Network,"Urban Estate Gurgaon, Haryana","\n₹20,000 a month",7 days ago,We are actively looking for a few freshers who...,NaN,NaN,https://in.indeed.com//company/Gather-Network/...
1,Big Data Developer\nnew,Agile Placement,"Pune, Maharashtra","\n₹5,00,000 - ₹14,00,000 a year",1 day ago,_Strong knowledge of programming and scripting...,NaN,Total work: 6 years,https://in.indeed.com//company/Agile-Placement...
2,Data Scientist\nnew,Client of PlaceElements HR,"Thiruvananthapuram, Kerala","\n₹5,00,000 - ₹10,00,000 a year",Today,Experience in working closely with data analys...,NaN,Python: Algorithms: Statistics: 1 yearData Sci...,https://in.indeed.com//company/Client-of-Place...
3,Software Engineer - Machine Learning Engineer,Siemens Technology and Services Private Limited,"Pune, Maharashtra",NaN,15 days ago,Experience with machine learning architectures...,\n4.0\n\n\n\n\n,NaN,https://in.indeed.com//rc/clk?jk=2f44fb584ca0c...
4,Machine Learning (Fullstack) at Sadhashiva Nag...,Teqlinx Software Solutions LLC,"Bengaluru, Karnataka","\n₹30,00,000 a year",8 days ago,• Extremely strong programming background – da...,NaN,NaN,https://in.indeed.com//company/Teqlinx-Softwar...

In [ ]:
raw_df = Preprocess()(raw_df)

array(['nan', '4.0', '4.2', '4.1', '3.4', '3.9', '2.7', '3.3', '3.7',
       '3.8', '4.4', '4.3', '3.6', '3.5', '3.2', '4.5', '5.0', '4.8',
       '4.7', '3.0', '2.3', '2.0', '2.1', '2.5', '3.1', 'na', '4.9',
       '2.8', '2.6', '1.7', '1.5', '4.6', '2.9', '2.4'], dtype=object)